<div style="margin: 10px 0px;padding-top: 0px;color: #D8000C;background-color: #FFD2D2;" *ngFor="let err of err_msg">
   {{err}}
</div>
<mat-nav-list>

  <div mat-list-item >
    <span mat-line>上傳新頭貼</span>
    <input type="file" (change)="onFileChanged($event)" #fileInput placeholder="輸入商品名稱" class="form-full-width">
  </div>

  <mat-expansion-panel mat-list-item>
    <mat-expansion-panel-header>
      <mat-panel-title mat-line>
        修改個人資料
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field style="width:100%">
      <input matInput placeholder="電話號碼" [(ngModel)]="mobile">
    </mat-form-field>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
    <mat-action-row>
      <button mat-button (click)="save()">儲存</button>
    </mat-action-row>
  </mat-expansion-panel>


</mat-nav-list>
