<mat-toolbar class="nav-header">
  <button mat-icon-button [routerLink]="['/userpage']">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <span>訂單管理</span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center"  class="managetabs" dynamicHeight>
  <mat-tab label="訂單管理">
    <div *ngFor="let order of orders">
    <div class="goods-box mat-elevation-z4" *ngIf="order.status=='processing'">
      <mat-grid-list cols="3" rowHeight="150px">
        <mat-grid-tile rowspan="1" colspan="2">
          <div class="goods-info">
            <h4 style="margin-top:0px;margin-bottom:8px;">訂單編號 : {{order._id.substr(20,23)}}</h4>
            <span>狀態: {{order.status}}</span>
            <h4 style="margin-top:8px;margin-bottom:8px;">品項: {{order.ctr}}項</h4>
            <span>金額: ${{order.total}}</span>
            <h4 style="margin-top:8px;margin-bottom:8px;">預約時間: {{order.time}}</h4>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <button mat-flat-button style="width:100%;background-color:#F8CF77;color:#725F58;margin-top:8px;margin-bottom:8px;"
            (click)="
              orderManagement.open();
              setup=true;
              order_tmp=order;
            ">訂單資訊</button>
            <span class="toolbar-seprator"></span>
            <!-- <button mat-button style="width:100%;background-color:#F8CF77;color:#725F58;margin-top:8px;margin-bottom:8px;">完成訂單</button> -->
            <span class="toolbar-seprator"></span>
            <button mat-button color="warn" style="width:100%;margin-top:8px;margin-bottom:8px;" (click)="cancel(order._id)">取消訂單</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div></div>
  </mat-tab>
  <mat-tab label="歷史紀錄">
    <div *ngFor="let order of orders">
    <div class="goods-box mat-elevation-z4" *ngIf="order.status!='processing'">
      <mat-grid-list cols="3" rowHeight="150px">
        <mat-grid-tile rowspan="1" colspan="2">
          <div class="goods-info">
            <h4 style="margin-top:0px;margin-bottom:8px;">訂單編號 : {{order._id.substr(20,23)}}</h4>
            <!-- <span>狀態: {{order.status}}</span> -->
            <h4 style="margin-top:8px;margin-bottom:8px;">品項: {{order.ctr}}項</h4>
            <span>金額: ${{order.total}}</span>
            <h4 style="margin-top:8px;margin-bottom:8px;">預約時間: {{order.time}}</h4>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <button mat-flat-button style="width:100%;background-color:#F8CF77;color:#725F58;margin-top:8px;margin-bottom:8px;"
            (click)="
              orderHistory.open();
              setup_h=true;
              order_tmp=order;
            ">訂單資訊</button>
            <span class="toolbar-seprator"></span>
            <mat-chip-list>
              <mat-chip *ngIf="order.status=='accomplished'">已完成</mat-chip>
              <mat-chip *ngIf="order.status=='canceling'">取消中</mat-chip>
              <mat-chip *ngIf="order.status=='canceled'">已取消</mat-chip>
            </mat-chip-list>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div></div>
  </mat-tab>
</mat-tab-group>


<mat-sidenav-container class="nav-container" hasBackdrop="true">
  <mat-sidenav #orderManagement mode="over" fixedInViewport="true" position="end" class="nav-searchnav">
    <div class="nav-header-container">
    <mat-toolbar class="nav-header" color="primary">
      <button mat-icon-button (click)="orderManagement.close()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>訂單資訊</span>

      <span class="toolbar-seprator"></span>

    </mat-toolbar>
    </div>
    <div class="form-box" *ngIf="setup">
      <mat-list>
        <mat-list-item>訂單編號: {{order_tmp._id.substr(20,23)}}</mat-list-item>
        <mat-divider></mat-divider>
        <!-- <mat-list-item>顧客電話: 0911111111</mat-list-item> -->
        <mat-divider></mat-divider>
        <mat-list-item>金額: ${{order_tmp.total}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>預約時間: {{order_tmp.time}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>品項: {{order_tmp.ctr}}項</mat-list-item>
      </mat-list>
      <div class="goods-box mat-elevation-z4" *ngFor="let item of order_tmp.items">
        <mat-grid-list cols="2" rowHeight="150px">
          <mat-grid-tile>
            <img class="goods-image" src="{{item.item.pic}}">
          </mat-grid-tile>
          <mat-grid-tile rowspan="1">
            <div class="goods-info">
              <h3 style="margin-top:0px;margin-bottom:15px">{{item.item.name}}</h3>
              <span>{{item.item.description}}</span>
              <mat-chip-list>
                <div *ngFor="let attr of item.item.attribute">
                  <mat-chip>{{attr}}</mat-chip>
                </div>
              </mat-chip-list>
              <h4 style="margin-top:15px;margin-bottom:15px">${{item.item.base_price}}</h4>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<mat-sidenav-container class="nav-container" hasBackdrop="true">
  <mat-sidenav #orderHistory mode="over" fixedInViewport="true" position="end" class="nav-searchnav">
    <div class="nav-header-container">
    <mat-toolbar class="nav-header" color="primary">
      <button mat-icon-button (click)="orderHistory.close()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>歷史紀錄</span>
    </mat-toolbar>
    </div>

    <div class="form-box" *ngIf="setup_h">
      <mat-list>
        <mat-list-item>訂單編號: {{order_tmp._id.substr(20,23)}}</mat-list-item>
        <mat-divider></mat-divider>
        <!-- <mat-list-item>顧客電話: 0911111111</mat-list-item> -->
        <mat-divider></mat-divider>
        <mat-list-item>金額: ${{order_tmp.total}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>預約時間: {{order_tmp.time}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>品項: {{order_tmp.ctr}}項</mat-list-item>
      </mat-list>
      <div class="goods-box mat-elevation-z4" *ngFor="let item of order_tmp.items">
        <mat-grid-list cols="2" rowHeight="150px">
          <mat-grid-tile>
            <img class="goods-image" src="{{item.item.pic}}">
          </mat-grid-tile>
          <mat-grid-tile rowspan="1">
            <div class="goods-info">
              <h3 style="margin-top:0px;margin-bottom:15px">{{item.item.name}}</h3>
              <span>{{item.item.description}}</span>
              <mat-chip-list>
                <div *ngFor="let attr of item.item.attribute">
                  <mat-chip>{{attr}}</mat-chip>
                </div>
              </mat-chip-list>
              <h4 style="margin-top:15px;margin-bottom:15px">${{item.item.base_price}}</h4>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
