.html{
  background-color: #F6EEE0;

}

.form-box{
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 100%;
  background-color: #F6EEE0;
  color: #725F58;
}

.form-full-width{
  width: 100%;
}

.header-pad{
  padding-top: 50px;
}

.logo{
  width: 40%;
  right: 0;
}

.text-title{
  left: 0;
}

mat-flat-button{
  width:100%
}


.error {
  margin: 10px 0px;
  padding:12px;
  color: #D8000C;
  background-color: #FFD2D2;
}
