<mat-toolbar class="nav-header">
  <button mat-icon-button [routerLink]="['/home']">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>購物車</span>
</mat-toolbar>

<div class="nav-header-container"></div>

    <div class="goods-box mat-elevation-z4" *ngFor="let item of items">
      <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile>
          <img class="goods-image" src="{{item.item.pic}}">
        </mat-grid-tile>
        <mat-grid-tile rowspan="1">
          <div class="goods-info">
            <h3 style="margin-top:0px;margin-bottom:15px">{{item.item.name}}</h3>
            <span style="color:#F8CF77;">{{item.item.base_price}}</span>
            <h4 style="margin-top:15px;margin-bottom:15px">共1份</h4>
            <div class="button-row">
              <button mat-button color="warn" (click)="remove_from_cart(item._id)">刪除</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="nav-header-container"></div>
    <div class="nav-header-container"></div>

    <footer>
      <mat-toolbar class="nav-footer">
        <mat-toolbar-row>
          <span>訂單總金額:</span>
          <span class="toolbar-seprator"></span>
          <span>{{amount}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-flat-button color="warn" style="width:100%" (click)="send()">確認購買(送出訂單)</button>
        </mat-toolbar-row>
      </mat-toolbar>
    </footer>


<mat-sidenav-container class="nav-container" hasBackdrop="true">
  <mat-sidenav #goodsInCart mode="over" fixedInViewport="true" position="end" class="nav-searchnav">
    <div class="nav-header-container">
    <mat-toolbar class="nav-header">
      <button mat-icon-button (click)="goodsInCart.close()">
        <mat-icon>close</mat-icon>
      </button>
      <span>請選擇商品規格及數量</span>
      <span class="toolbar-seprator"></span>
      <button mat-icon-button>
        <mat-icon>send</mat-icon>
      </button>

    </mat-toolbar>
    </div>

    <div class="form-box mat-elevation-z4">

      <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile>
          <img class="goods-image" src="https://i.imgur.com/HVPrChy.jpg">
        </mat-grid-tile>
        <mat-grid-tile rowspan="1">
          <div class="goods-info">
            <h3 style="margin-top:0px;margin-bottom:38px">商品名稱</h3>
            <span>商品單價: $1000</span>
            <h4 style="margin-top:38px;margin-bottom:38px">可提供份數:300</h4>
          </div>
        </mat-grid-tile>
      </mat-grid-list>


      <h4>規格</h4>
      <mat-form-field class="form-full-width">
        <mat-select [(value)]="selected" placeholder="選擇商品規格">
          <mat-option value="option1">加蛋</mat-option>
          <mat-option value="option2">加大</mat-option>
        </mat-select>
      </mat-form-field>

      <h4>數量</h4>
      <mat-form-field class="form-full-width">
        <input matInput type="number" placeholder="輸入數量">
      </mat-form-field>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
