<div class="website-info">
  <mat-grid-list cols="2" rowHeight="200px" gutterSize="-3px">
    <mat-grid-tile style="background: #1A6CBD;">
      <img src="https://i.imgur.com/1fOCQU7.png" style="height:60%;padding-top:50px">
    </mat-grid-tile>
    <mat-grid-tile style="background: #1A6CBD;">
      <h5 matLine style="font-weight: 550;font-size:1.5rem;color: white">FOOD GEN</h5>
      <!--<p style="font-weight: 550;color: white">說明文字說明文字</p>-->
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="1" style="margin-top:-50px">
    <mat-grid-tile style="background: white;">
      <mat-grid-tile-header style="background: white">
        <h5 style="font-weight: 550;font-size:1.5rem;color: black">推薦店家</h5>
      </mat-grid-tile-header>

      <mat-grid-list cols="2" rowHeight="fit" gutterSize="10px">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="height:120px; width:100%;">
          <mat-card-header>
            <mat-card-title>店家名稱</mat-card-title>
            <mat-card-subtitle>說明文字</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <img mat-card-image src="https://i.imgur.com/P5zUOzV.jpg" style="height:120px; width:100%;">
        <mat-card-header>
          <mat-card-title>店家名稱</mat-card-title>
          <mat-card-subtitle>說明文字</mat-card-subtitle>
        </mat-card-header>
        <!--<mat-card-actions>
          <button mat-button><mat-icon>favorite_border</mat-icon></button>
          <button mat-button><mat-icon>add_shopping_cart</mat-icon></button>
        </mat-card-actions>-->
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>

    </mat-grid-tile>
  </mat-grid-list>
</div>
